- name: Apply Workstation Roles
  hosts: all
  become: true

  vars:
    playbook_path: |-
        {{
            (
                lookup('file', '/proc/self/cmdline')
                    | regex_replace('\u0000',' ')
            ).split()
                | select('match','^.*[.]ya?ml$')
                | list
                | first
        }}
    real_ansible_dir: "{{ (playbook_path + '/..') | realpath | dirname }}"

    skip_repo_backup: true
    debug_defaults: true

    webbrowser_trusted_uris: [".linux.lab", ".test.lab"]
    webbrowser_delegation_uris: ["cloud.test.lab"]
    webbrowser_managed_bookmarks:
        - name: "Nextcloud"
          url: "https://cloud.linux.lab"
        - name: "Printserver"
          url: "https://printserver.linux.lab:631"
        - name: "IPA Server"
          url: "https://ipa01.linux.lab"
        - name: "gateway"
          url: "http://192.168.120.254"
        - name: "Wifi Settings"
          url: "https://accesspoint.linux.lab/wifi"
        - name: "Who Am I (Kerberos)"
          url: "http://www.linux.lab/whoami-krb5"
        - name: "Who Am I (OpenID)"
          url: "http://www.linux.lab/whoami-oid"

    gui_print_server: printserver.linux.lab

    devws_exclude_packages:
      - apache-netbeans
      - virtio-win

  pre_tasks:
    - name: "Enable EL repos"
      include_tasks: "{{ real_ansible_dir }}/enable-el-repos.yml"

    - name: "Overwrite dracut.conf"
      copy:
        dest: /etc/dracut.conf.d/small.conf
        content: |
          compress=xz
          aggressive_strip=yes
          do_strip=yes
          hostonly=yes

  roles:
    - default-packages
    - gui
    - evolution
    - thunderbird
    - webbrowser
    - autofs
    - arachnecdl
    - developer-workstation

  post_tasks:
    - name: Set x11 keyboard layout
      command: "localectl set-x11-keymap de"

    - name: Set keyboard layout
      command: "localectl set-keymap de"

    - name: "Reboot"
      reboot:
      changed_when: no
